{% extends "base.html" %}
{% load static %}

{% block title %} My2Cents-Edit Purchase {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "assets/css/newpurchase.css" %}">
{% endblock %}
{% block link%}
<a href="/accounts/profile/">
{% endblock %}
{% block endlink%}
</a>
{% endblock %}
{% block content %}
	<h1>Edit {{ purchase.name }}</h1>
	<form action="/budgets/edit/{{ purchase.id }}/" method="post" id="purchase_form"> 
		{% csrf_token %}
		{{ form.name }} <br>
		{{ form.price }} <br>
		<big><big>
		<label for="id_category">Select a Category:</label>
		</big></big>
		{{ form.category }} <br>
		<input type="submit" value="Edit Purchase" id="button-link">
	</form>
{% endblock %}