{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %} {% endblock %}</title>
			<link rel="stylesheet" type="text/css" href="{% static "assets/css/base.css" %}">
			{% block css %}
			{% endblock %}
	</head>
	<body>
	<header>
		<div id="headimage">
			{% block link %} {% endblock %}
			<img src = "{%static "assets/images/images/logo.png" %}">
			{% block endlink %} {% endblock %}

		</div>
	</header>
	{% block content %}
	{% endblock %}
	<footer>
		<p><small>Copyright Steve Scheel 2013</small></p>
	</footer>
	</body>
</html>

